// Variables
$btnBGColor: mediumseagreen;
$btnBGColorHover: seagreen;
$btnTextColor: white;
$btnBorderSize: 3px;

.accordion {
  border: 2px solid slategrey;
  margin: 1rem 0;
  padding: 1rem;
  opacity: .25;
  height: 15px;
  overflow: hidden;

  &.active {
    height: auto;
    opacity: 1;
  }
}

.fields__container {
  width: 100%;
  @include flex;
  flex-wrap: wrap;

  &.column {
    flex-direction: column;
  }

  .field {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    flex: 1;

    label {
      margin-bottom: .5rem;
    }

    input[type="text"] {
      max-width: 100%;
      flex: 1;
      display: flex;
      padding: .65rem .5rem;
      font-size: .75rem;
      align-items: center;

      &.invalid {
        border: 2px solid red;
      }
    }

    select {
      border-radius: 20px;
      padding: .25rem .5rem;
      outline: none;
      border: 1px solid slategrey;
      height: 1.75rem;
    }
  }
}

.btns_container {
  @include flex;

}

.btn {
  @include hover-bg($btnBGColor, $btnBGColorHover);
  border: $btnBorderSize solid $btnBGColor;
  color: white;
  font-size: .9rem;
  font-weight: 600;
  margin: 1rem;
  padding: .75rem 2rem;
  cursor: pointer;
  text-align: center;

  &:active {
    opacity: .3;
  }
}
