.fields__container {
  max-width: 25rem;
  width: 100%;

  .field {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: .5rem;
    }

    input[type="text"] {
      border: 1px solid darkslategrey;
      max-width: 100%;
      flex: 1;
      display: flex;
      padding: .65rem .5rem;
      font-size: .75rem;
      align-items: center;
    }
  }
}
