.modal__outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9;

  .modal__container {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 90%;
    z-index: 10;

    .modal__close {
      cursor: pointer;
      position: absolute;
      top: .5rem;
      right: .75rem;
      font-size: 2.25rem;
      color: black;

      @include desktop {
        color: #505050;

        &:hover {
          color: black;
        }
      }
    }

    .modal__inner {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      max-width: 100%;

      .modal-title {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin: 2rem auto 0;
      }

      .total {
        color: orange;
        font-weight: 600;
        text-align: center;
        margin: .5rem;

        .total-num {
          color: orangered;
        }

        &.total-sub-files {
          margin: .25rem .5rem .75rem;
        }
      }

      .returned-files__container {
        display: flex;
        margin: 2rem auto;
        padding: .5rem;
        width: 95%;
        flex-direction: column;
        height: 25rem;
        overflow-y: auto;

        @include desktop {
          flex-direction: row;
          width: 75%;
        }

        .files {
          display: flex;
          flex-direction: column;
          border: 1px solid lightgrey;
          margin: .35rem;
          padding: .5rem;
          flex: 1;
          align-items: center;
          position: relative;

          .files-collection {
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
          }

        }

        .no-files-msg {
          color: royalblue;
          font-weight: 600;
          font-size: 1rem;
          text-align: center;

          span {
            font-weight: 600;
            color: red;
          }
        }

        .found-files {
          color: green;
        }

        .missing-files {
          color: red;
        }

        .status-title {
          color: black;
          border-bottom: 2px solid black;
          padding: .5rem 1rem;
          margin-bottom: .75rem;
        }

        .file {
          border: 1px solid darkslategrey;
          padding: .5rem 1rem;
          margin: .5rem auto;
          width: 82.25%;
          word-break: break-all;

          .current_filename {
            font-weight: 600;
            font-size: .8rem;
          }

          .new_filename {
            font-size: .6rem;
          }

          .file-type {
            color: darkgreen;
            border: 2px solid darkgreen;
            display: inline-flex;
            font-size: .53rem;
            margin: .25rem 0;
            text-transform: uppercase;
            font-weight: 600;
            padding: .1rem 0.4rem;
          }
        }

      }

      .rename-files-btn {
        opacity: .4;
        margin: 0;

        &.invalid {
          background-color: red;
          border-color: red;
          color: white;
          opacity: .75;
        }

        &.active {
          opacity: 1;
        }
      }
    }

    .progress__container {
      @include flex;
      flex-direction: column;
      margin: 1rem 0;

      .progress-values {
        width: 100%;
        text-align: center;

        .progress-fraction {
          margin: .5rem 0;
        }
      }

      .progress-bar {
        width: 100%;
        position: relative;
        border: 2px solid royalblue;
        height: 2rem;

        .progress-bar__inner {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 0;
          background-color: lightblue;
          transition: width .5s;
        }
      }
    }

    .renamed-files__container {
      height: 20rem;
      overflow-x: hidden;
      overflow-y: auto;

      .renamed-file {
        margin: .5rem 0;
        border: 1px solid gainsboro;
        padding: .5rem;
      }
    }

    .completed-msg__container {
      margin-top: 1rem;

      .completed-msg {
        color: forestgreen;
        font-size: 1rem;
      }
    }


  }
}
