<!DOCTYPE html>
<html>
  <head>
    <title>Renamer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./app/static/css/main.scss" />
  </head>

  <body>
    <div class="main__container">
      <div class="components__container"></div>
    </div>

    <script src="./js/libraries/jquery-3.3.1.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
