.header__container {
  @include flex;
  position: relative;
  // margin: 1rem 0 2rem;
  padding: 1rem;
  background-color: lightseagreen;
  box-shadow: 0 3px 5px 0 #808080;

  .project-version {
    $color: ghostwhite;

    color: $color;
    font-size: .85rem;
    position: absolute;
    font-style: italic;
    top: .75rem;
    right: 1rem;
  }

  .header-text {
    $primaryColor: ghostwhite;

    font-size: 1.25rem;
    border: 3px solid $primaryColor;
    color: $primaryColor;
    padding: .75rem 2rem;
  }
}
